[submodule "frontend"]
	path = frontend
	url = https://github.com/Zizouu1/company-access-platform-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Zizouu1/company-access-platform-backend.git
